<div class="mb-8">
  <div class="flex items-center justify-between">
    <div>
      <h1 class="text-2xl font-bold text-gray-900"><%= @title %></h1>
      <% if @subtitle %>
        <p class="mt-1 text-sm text-gray-500"><%= @subtitle %></p>
      <% end %>
    </div>
    <% if actions? %>
      <div class="flex items-center gap-3">
        <%= actions %>
      </div>
    <% end %>
  </div>
</div>
