<%= render PageHeaderComponent.new(title: "Edit Seed Purchase") %>

<div class="max-w-2xl">
  <div class="bg-white rounded-lg border border-gray-200 p-6">
    <%= render "form", seed_purchase: @seed_purchase %>
  </div>
</div>
