<%= render PageHeaderComponent.new(title: "Edit Buy List Item") %>

<div class="max-w-2xl">
  <div class="bg-white rounded-lg border border-gray-200 p-6">
    <%= render "form", buy_list_item: @buy_list_item %>
  </div>
</div>
