<%= render PageHeaderComponent.new(title: "New Plant") %>

<div class="max-w-2xl">
  <div class="bg-white rounded-lg border border-gray-200 p-6">
    <%= render "form", plant: @plant %>
  </div>
</div>
