<%= form_with url: url, method: :get, data: { controller: "search-form", turbo_frame: "inventory_content", turbo_action: "advance" }, class: "mb-4" do |f| %>
  <% %w[viability heirloom seed_source_id].each do |filter_key| %>
    <% if params[filter_key].present? %>
      <%= hidden_field_tag filter_key, params[filter_key] %>
    <% end %>
  <% end %>
  <div class="relative">
    <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
      <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd" d="M9 3.5a5.5 5.5 0 100 11 5.5 5.5 0 000-11zM2 9a7 7 0 1112.452 4.391l3.328 3.329a.75.75 0 11-1.06 1.06l-3.329-3.328A7 7 0 012 9z" clip-rule="evenodd" />
      </svg>
    </div>
    <%= f.search_field :q,
      value: search_query,
      placeholder: "Search plants, latin names, notes, sources...",
      class: "block w-full pl-10 pr-10 py-2 border border-gray-300 rounded-lg text-sm placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-green-500 focus:border-green-500",
      autocomplete: "off",
      data: { search_form_target: "input", action: "input->search-form#search" } %>
    <% if search_query.present? %>
      <div class="absolute inset-y-0 right-0 pr-3 flex items-center">
        <button type="button" class="text-gray-400 hover:text-gray-600" data-action="search-form#clear">
          <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.28 7.22a.75.75 0 00-1.06 1.06L8.94 10l-1.72 1.72a.75.75 0 101.06 1.06L10 11.06l1.72 1.72a.75.75 0 101.06-1.06L11.06 10l1.72-1.72a.75.75 0 00-1.06-1.06L10 8.94 8.28 7.22z" clip-rule="evenodd" />
          </svg>
        </button>
      </div>
    <% end %>
  </div>
<% end %>
